*
!*/
*/*

!.gitignore

!_dist.sh
!apply_aur_repo.sh

!README.md

!ddcui/PKGBUILD
!ddcui/ddcui.desktop
!hotate/PKGBUILD
!nody-greeter/PKGBUILD
!nody-greeter/package.patch
!otf-rubik/PKGBUILD
!ttf-cinecaption/PKGBUILD
!yubioath-desktop6/PKGBUILD
