*
!*/
*/*

!.gitignore

!util.sh

!README.md

!dug-bin/PKGBUILD
!ddcci-driver-linux-dkms-relax-dev-id/PKGBUILD
!ddcci-driver-linux-dkms-relax-dev-id/detection.patch
!hollo/PKGBUILD
!hollo/hollo.hook
!hollo/hollo.install
!hollo/hollo.service
!hollo/hollo.sysusers
!hollo/hollo.tmpfiles
!hotate/PKGBUILD
!openconnect-sso-git/PKGBUILD
!openconnect-sso-git/relax-poetry-version-constraints.patch
!pipes-rs/PKGBUILD
!python-apple-compress/PKGBUILD
!python-asn1/PKGBUILD
!python-bpylist2-git/PKGBUILD
!python-construct-typing/PKGBUILD
!python-developer_disk_image/PKGBUILD
!python-inquirer3/PKGBUILD
!python-ipsw_parser/PKGBUILD
!python-la_panic/PKGBUILD
!python-lzfse/PKGBUILD
!python-opack/PKGBUILD
!python-opack2/PKGBUILD
!python-parameter-decorators/PKGBUILD
!python-pycrashreport/PKGBUILD
!python-pygnuutils/PKGBUILD
!python-pyimg4/PKGBUILD
!python-pykdebugparser/PKGBUILD
!python-pylzss/PKGBUILD
!python-pymobiledevice3/PKGBUILD
!python-python-pcapng/PKGBUILD
!python-pytun-pmd3/PKGBUILD
!python-qh3/PKGBUILD
!python-remotezip/PKGBUILD
!python-remotezip2/PKGBUILD
!python-srptools/PKGBUILD
!python-sslpsk-pmd3/PKGBUILD
!python-typer-injector/PKGBUILD
!sidejitserver/PKGBUILD
!sidejitserver/sidejitserver.service
!ttf-cinecaption/PKGBUILD
!ttf-rubik-vf/PKGBUILD
!ttf-san-francisco-jp/PKGBUILD
