*
!*/
*/*

!.gitignore

!_dist.sh
!apply_aur_repo.sh

!README.md

!bloop-desktop-bin/PKGBUILD
!ddcci-driver-linux-dkms-patched/PKGBUILD
!ddcci-driver-linux-dkms-patched/linux-6.x-compatibility.patch
!ddcci-driver-linux-dkms-patched/detection.patch
!hotate/PKGBUILD
!ibus-akaza/PKGBUILD
!nody-greeter/PKGBUILD
!nody-greeter/package.patch
!openconnect-sso-git/PKGBUILD
!openconnect-sso-git/relax-poetry-version-constraints.patch
!ttf-rubik-vf/PKGBUILD
!pipes-rs/PKGBUILD
!qdrant/PKGBUILD
!ttf-cinecaption/PKGBUILD
!ttf-twemoji-color14/PKGBUILD
!xkblas/PKGBUILD
