[Unit]
Description=Hollo daemon

Requires=postgresql.service
After=postgresql.service

[Service]
Type=simple
Restart=on-failure

User=hollo
Group=hollo

Environment="XDG_DATA_HOME=/var/lib/hollo/share"
Environment="NODE_ENV=production"
Environment="COREPACK_HOME=/var/lib/hollo/cache/corepack"
Environment="PNPM_HOME=/var/lib/hollo/cache/pnpm"
Environment="FS_ASSET_PATH=/var/lib/hollo/files"

WorkingDirectory=/usr/share/hollo
SyslogIdentifier=hollo
ExecStart=/usr/bin/corepack pnpm run prod

ReadOnlyPaths=/usr/share/hollo
ReadWritePaths=/var/lib/hollo
NoExecPaths=/var/lib/hollo

RestrictSUIDSGID=true
RestrictNamespaces=true

PrivateTmp=true
PrivateDevices=true
PrivateUsers=true

ProtectHostname=true
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
ProtectSystem=strict
ProtectHome=true
ProtectProc=invisible

SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM

LockPersonality=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
